.trending-bg-container {
  width: 100vw;
  height: 100vh;
}
.trending-bottom-container {
  display: flex;
  width: 100%;
}
.trending-sidebar-container {
  
}
@media screen and (max-width: 768px) {
  .trending-sidebar-container {
    display: none;
  }
}
.trending-success-container {
  width: 100%;
  background-color: aliceblue;
}
.trending-icon-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.trending-icon-button {
  background-color: #cbd5e1;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
}
.trending-icon {
  color: #ff0000;
}
.trending-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
}
.trending-list-item {
  width: 90%;
  padding: 5px;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .trending-list-container{
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .trending-list-item {
    width: 30%;
  }
  .trending-thumbnail-url{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .trending-thumbnail-url {
    width: 100%;
    margin-bottom: 20px;
  }
}
.trending-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.trending-title {
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
  text-align: start;
  margin-bottom: 2px;
}
.name{
  font-size: 12px;
  font-weight: 400;
}
.white-link{
  text-decoration: none;
  color: #000000;
}
.black-link{
  text-decoration: none;
  color: #ffffff;
}
.year-views{
  display: flex;
  margin: 0px;
  padding: 1px;
  font-size: 14px;
}
.trending-right-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-trending-bg-container{
  background-color: aliceblue;
  color: #000000;
}
.dark-trending-bg-container{
  background-color: #181818;
  color: #ffffff;
}
